body{
	font-size: 14px;
	font-family:aktiv-grotesk-thai,aktiv-grotesk;
	font-display:auto;font-style:normal;font-weight:400;
}
/*html {
	scroll-behavior: smooth;
	scroll-padding-top: 120px;	
}*/
body.lock{
	overflow: hidden
}
button:focus{
	outline: none
}
@media(min-width:992px){
	body{
		font-size: 18px;
	}
}
h1,h2,h3,h4,h5,h6{
	font-weight:700;
}

a{
	color:inherit;
}
a:hover{
	color:inherit;
	text-decoration: none
}
.col-red{
	color: #ED1C24;
}
.col-gray{
	color: #666
}
.header-logo{
	padding-top: 25px;
	padding-bottom: 25px;
	height: 100px;
	background: #fff;
	transition: 0.2s all ease-in-out;
}
.desktop-header{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 99;
}
.mobile-header{
	position: fixed;
	z-index: 99;
	left: 0;
	right: 0;
	top: 0;
}
.mobile-menu{
	height: 1px;
	transition: 0.4s all ease-in-out;
	overflow: hidden;
}
.mobile-menu.open{
	height: 100%;
}
.mobile-social{
	text-align: center;
	padding: 20px 0;
}
.mobile-social a{
	display: inline-block;
	height: 60px;
	padding: 18px 20px;
}
.mobile-social a+a{
	margin-top: 15px;
}
.mobile-header .header-logo{
	padding-top: 20px;
	padding-bottom: 20px;
	height: 80px;
	background: #fff;
	transition: 0.2s all ease-in-out;
	position: relative;
	z-index: 9;
}
.mobile-header{
	box-shadow: 0px 3px 6px 0 rgba(0,0,0,0.2)
}
.desktop-header.fixed-header .header-logo{
	padding-top: 10px;
	padding-bottom: 10px;
	height: 70px;
}
.desktop-header.fixed-header .bg-menu{
	height: 44px;
}
#nav-icon4 {
  width: 28px;
  height: 28px;
  position: relative;
  float: right;
  margin-top: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #8B8B8B;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 4px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 20px;
  left: 4px;
}
.mobile-menu{
	position: fixed;
	background: #000;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	padding-top: 80px;
	color: #fff;
	padding-left: 40px;
	padding-right: 40px;
	overflow: auto;
}

.mobile-menu ul{
	list-style: none;
	margin-bottom: 0;
	padding: 10px 0;
}
.desktop-header.fixed-header .main-menu > ul > li a{
	padding: 10px 20px;
}
.mobile-menu ul>li+li{
	border-top: 1px solid #707070;
}
.mobile-menu ul>li a{
	padding: 20px 0px;
	display: block;
}
header{
	height: 80px;
	background: #1A1A1A;
}
@media(min-width:992px){
	.social-service{
		text-align: right;
	}
	.social-service a+a{
		margin-left: 18px;
	}
	header{
		height: 164px;
		background: #1A1A1A;
	}
}
@media (min-width: 1200px){
	.container {
		max-width: 1200px;
	}
}
.bg-menu{
	background: #1A1A1A;
	height: 64px;
	transition: 0.2s all ease-in-out;
}
@media (min-width: 992px){
	.main-menu{
		text-align: center;
		
	}
	.main-menu ul{
		list-style: none;
		margin-bottom: 0;
		padding-left: 0;
	}
	.main-menu > ul > li{
		display: inline-block;
		position: relative;
	}
	.main-menu > ul > li a{
		color: #fff;
		padding: 20px 10px;
		display: block;
		font-size: 0.9rem;
		transition: opacity 1s cubic-bezier(.4,0,0,1) .6s,transform 1s cubic-bezier(.4,0,0,1) .6s;
		position: relative;
		opacity: 1;
		transform: translateY(0) translateZ(0);
	}
	
	.main-menu > ul > li a:before{
		content: "";
		position: absolute;
		bottom: 20px;
		left: 20px;
		right: 20px;
		height: 1px;
		background-color: currentColor;
		transform: scaleX(0) translateZ(0);
		transform-origin: 100% 50%;
		transition: transform .6s cubic-bezier(.37,.31,0,1);
	}
	.desktop-header.fixed-header .main-menu > ul > li a:before{
		bottom: 10px;
	}
	.main-menu > ul > li a:hover:before{
		transform: scaleX(1) translateZ(0);
		transform-origin: 0 50%;
	}
	.main-menu > ul > li a:after {
		content: attr(data-text);
		position: absolute;
		top: 10px;
		left: 10px;
		font-weight: 700;
		opacity: 0;
		letter-spacing: -.05em;
		line-height: .88;
	}
	.main-menu > ul > li a span {
		transition: opacity .3s cubic-bezier(.215,.61,.355,1);
	}
}
@media(min-width:1025px){
	.main-menu > ul > li a{
		padding: 20px;
		font-size: 1rem;
		white-space: nowrap;
	}
}
.owl-theme .owl-dots{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
}
#home-text{
	text-align: center;
	padding: 50px 15px 40px;
	position: relative;
	top: 20px;
	opacity: 0;
	transition: 0.4s all ease-in-out
}
#home-text.run{
	top: 0;
	opacity: 1;
}
#home-text h1{
	text-transform: uppercase;
}
#home-text h3{
	font-weight: normal;
	font-size: 1.3rem
}
@media(min-width:992px){
	#home-text{
		padding: 70px 15px;
	}
	#home-text h3{
		font-size: 1.9rem
	}
}

#home-car-feature{
	position: relative;
	top:20px;
	opacity: 0;
	transition: 0.4s all ease-in-out;
}
#home-car-feature.run{
	top:0;
	opacity: 1;
}
.car-feature figure{
	margin-bottom: 0;
}
.car-feature .car-feature-text{
	text-align: center;
	padding: 60px 15px 70px;
	color:#fff;
}

.car-feature .car-feature-text h3{
	position: relative;
	top: 20px;
	opacity: 0;
	transition: 0.4s all ease-in-out 0.4s;
}
.car-feature .car-feature-text p{
	position: relative;
	top: 20px;
	opacity: 0;
	transition: 0.4s all ease-in-out 0.6s;
}
.car-feature .car-feature-text.run h3,.car-feature .car-feature-text.run p{
	top: 0;
	opacity: 1;
}
.car-feature .bg-red{
	background: #C41616;
}
.car-feature .bg-black{
	background: #000;
}
#home-popular{
	background-image: url('../images/bg-popular.png');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	padding-bottom: 40px;
	position: relative;
	top: 20px;
	opacity: 0;
	transition: 0.4s all ease-in-out
}
#home-popular.run{
	top: 0;
	opacity: 1;
}
#home-popular .title{
	text-transform: uppercase;
	text-align: center;
	padding: 50px 15px 40px;
}
@media(min-width:992px){
	#home-popular{
		padding-bottom: 100px;
	}
	#home-popular .title{
		padding: 100px 15px 80px;
	}
}
.slider-popular .owl-theme .owl-nav{
	position: absolute;
	margin-top: 0;
	top:40%;
	width: 100%;
}
.slider-popular .owl-carousel .owl-nav button.owl-prev{
	position: absolute;
	left: 15px;
}
.slider-popular .owl-carousel .owl-nav button.owl-next{
	position: absolute;
	right: 15px;
}
.slider-popular .owl-carousel .owl-nav button.owl-prev:before{
	background-image: url('../images/left-arrow-disable.svg');
	content: "";
	width: 26px;
	height: 10px;
	display: block;
}
.slider-popular .owl-carousel .owl-nav button.owl-next:before{
	background-image: url('../images/right-arrow-disable.svg');
	content: "";
	width: 26px;
	height: 10px;
	display: block;
}
.slider-popular .owl-carousel .owl-nav button.owl-prev.disabled:before{
	background-image: url('../images/left-arrow-disable.svg');
	content: "";
	width: 26px;
	height: 10px;
	display: block;
}
.slider-popular .owl-carousel .owl-nav button.owl-next.disabled:before{
	background-image: url('../images/right-arrow-disable.svg');
	content: "";
	width: 26px;
	height: 10px;
	display: block;
}
.slider-popular .owl-theme .owl-nav [class*=owl-]:hover,.slider-popular .owl-theme .owl-nav [class*=owl-]:focus{
	background: none;
	outline: none
}
.popular-car figure{
	margin-bottom: 3rem;
}
.owl-item:nth-child(odd) .popular-car figure,.col-lg-4:nth-child(odd) .sub_car figure{
	background-image: url('../images/bg_carmodel_grey.jpg');
	background-repeat: no-repeat;
	background-size: cover
}
.owl-item:nth-child(even) .popular-car figure,.col-lg-4:nth-child(even) .sub_car figure{
	background-image: url('../images/bg_carmodel_red.jpg');
	background-repeat: no-repeat;
	background-size: cover
}
.popular-car-text h3{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.3rem;
}
.popular-car-text p{
	color: #707070;
	font-weight: 400;
	font-size: 1rem
}
.popular-car:hover p{
	color: #ED1C24;
}
#home-services-booking,#home-services,#promotion .title,#promotion .container,#dealer .dealer-text,#branch{
	position: relative;
	top: 20px;
	opacity: 0;
	transition: 0.4s all ease-in-out;
}
#home-services-booking.run,#home-services.run,#promotion.run .title ,#promotion.run .container,#dealer.run .dealer-text,#branch.run{
	top: 0;
	opacity: 1;
}
#home-services .title{
	text-transform: uppercase;
	text-align: center;
	padding: 50px 15px 30px;
}
@media(min-width:992px){
	#home-services .title{
		padding: 80px 15px 50px;
	}
}
.service{
	position: relative;
}
.service figure{
	margin-bottom: 0;
	overflow: hidden;
	position: relative;
}
.service .service-text{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	color:#fff;
	padding-bottom: 30px;
	padding-top: 30%;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	z-index: 9;
}
.service .service-text a:hover{
	text-decoration: underline
}
.service-text h4{
	padding-top: 15px;
}
figure.effect-jazz {
	background: -webkit-linear-gradient(-45deg, rgba(0,0,0,.9) 0%,rgba(0,0,0,.9) 100%);
	background: linear-gradient(-45deg, rgba(0,0,0,.9) 0%,rgba(0,0,0,.9) 100%);
	overflow: hidden;
	position: relative;
}
#promotion{
	background: #C41616;
	color:#fff;
	padding: 80px 0px 100px;
	font-weight: 700;
}
#promotion .title{
	text-align: center;
	margin-bottom: 50px;
}
#promotion .popular-car-text p{
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
}

@media(max-width:767px){
	#promotion{
		padding: 60px 0 50px;
	}
	#promotion .container > .row > .col-lg-12{
		padding-left: 0px;
		padding-right: 0px;
	}
}
#promotion .owl-item .popular-car{
	padding: 0 15px;
}
@media(min-width:992px){
	#promotion{
		padding: 80px 15px 100px;
	}
	
	#promotion .owl-item+.owl-item{
		border-left:1px solid #D65C5C
	}
}

.more{
	text-align: center;
	margin-top: 50px;
}
.btn-more{
	border: 1px solid #fff;
	border-radius: 30px;
	padding: 15px 50px;
	font-size: 1rem;
	display: inline-block
}
.btn-more img{
	margin-left: 15px;
}
#dealer{
	background: #000;
	color:#fff;
}
.dealer-text{
	padding: 20% 10% 10%;
}
@media(max-width:767px){
	.dealer-text{
		text-align: center;
	}
	.dealer-text h2{
		font-size: 1.6rem !important;
	}
}
.dealer-text h4{
	margin-bottom: 1rem
}
.dealer-text h2{
	margin-bottom: 1.2rem;
}
.dealer-text p{
	margin-bottom: 3rem
}
#branch{
	padding: 50px 0px;
}

#branch .title{
	text-align: center;
	margin-bottom: 40px;
}
@media(min-width:992px){
	#branch{
		padding: 100px 0px;
	}
	#branch .title{
		margin-bottom: 80px;
	}
}
.branch-box figure{
	margin-bottom: 1.2rem
}
.branch-title p{
	font-size: 0.9rem;
	color: #666666;
	font-weight: 500
}
#branch .owl-carousel .owl-item .branch-title p img{
	width: 18px;
}
@media(max-width:767px){
	#branch .container > .row > .col-lg-12{
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media(min-width:992px){
	#branch{
		padding: 100px 15px;
	}
}
.btn-more.btn-gray{
	border: 1px solid #707070;
	color: #707070;
}
.btn-more:hover{
	text-decoration: none;
	color: #fff;
	background: #ED1C24;
	border: 1px solid #ED1C24;
}
.btn-more:hover img{
	filter: brightness(100)
}
.subscription{
	background: #F8F8F8;
	padding: 40px 20px;
	border-top:1px solid #ddd
}
.subscription h5{
	color: #666
}
@media(max-width:767px){
	.subscription h5{
		font-size: 1rem;
		text-align: center;
		/*float: left;*/
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.sub-form {
		position: relative;
		/*width: 50%;
		float: right;*/
	}
	.subscription .sub-form .btn{
		font-size: 0.7rem
	}
	.subscription .form-control.form-control-lg{
		font-size: 0.7rem
	}
	.social li:first-child{
		font-size: 1rem;
		float: none;
		display: block;
		margin-top: 7px;
	}
}
.sub-form{
	position: relative;
}
.subscription .form-control{
	border-color:#707070;
	border-radius: 2rem;
	/*font-size: 1rem;*/
}
.subscription .sub-form .btn{
	border-radius: 2rem;
	background: #000;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
	/*font-size: 1rem;*/
	border:1px solid #707070;
}
.subscription .sub-form .btn:hover{
	background: #ED1C24;
	border: 1px solid #ED1C24;
	
}
.social{
	list-style: none;
	padding-left: 0;
	text-align: right;
	white-space: nowrap;
}
.social li{
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 700;
}
.social li+li{
	margin-left:5px;
}
.social li a img{
	width: 27px;
	display: inline-block;
}
.social li a.tel-icon img{
	width: 16px;
	display: inline-block;
}
@media(max-width: 768px){
	.social{
		margin-bottom: 0;
		text-align: center;
	}
}
@media (max-width:991px){
	.social li a.tel-icon {
		font-size: 20px;
	}
}
@media (min-width:992px){
	.social li a img{
		width: 51px;
	}
	.social li a.tel-icon img{
		width: 51px;
	}
	.social li+li{
		margin-left:10px;
	}
}
.footer-menu{
	background: #1A1A1A;
	color: #fff;
	padding-top: 4rem;
	padding-bottom: 3.5rem;
	line-height: 1.5;
}
.footer-menu a:hover{
	text-decoration: underline;
}

.footer-menu ul{
	list-style: none;
	padding-left: 0;
	margin-bottom: 40px;
}

.footer-menu ul > li{
	margin-bottom: 30px;
}
.footer-menu ul li > ul{
	padding-top: 10px;
}
.footer-menu ul li > ul > li{
	margin-bottom: 5px;
	font-size: 16px;
}
.footer-copyright{
	background: #1A1A1A;
	border-top: 1px solid #343434;
	color: #fff;
	text-align: center;
	padding: 30px;
}
@media(max-width:991px){
	.footer-copyright{
		font-size: 14px;
	}
}
#branch .owl-carousel .owl-item img{
	display: inline-block;
	width: auto;
}
figure{
	overflow: hidden;
}
/* Zoom In #1 */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* Shine */
.hover14 figure {
	position: relative;
}
.hover14 figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover14 figure:hover::before {
	-webkit-animation: shine 1.5s;
	animation: shine 1.5s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}


.btn-more1::before,
.btn-more1::after {
  position: absolute;
  content: "";
}
.btn-more1 {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0px 0px 15px;
    min-width: 250px;
    overflow: hidden;
    padding: 0;
	border-radius: 30px;
}
.btn-2 span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 50px;
    transition: 0.3s;
	border-radius: 30px;
}
.btn-2 span {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    transition: 0.2s;
}
.btn-2:hover span {
    color: #fff;
	border: 1px solid #1A1A1A;
}
.btn-2::before {
    background-color: #1A1A1A;
    transition: 0.3s ease-out;
}
.btn-2.hover-slide-right:hover::before {
    width: 100%;
	color: #fff
}
.btn-2.hover-slide-right::before {
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0%;
}


.btn-1 span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 50px;
    transition: 0.3s;
	border-radius: 30px;
	text-align: center
}
.btn-1 span {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    transition: 0.2s;
}
.btn-1:hover span {
    color: #fff;
	border: 1px solid #ED1C24;
}
.btn-1::before {
    background-color: #ED1C24;
    transition: 0.3s ease-out;
}
.btn-1.hover-slide-right:hover::before {
    width: 100%;
	color: #fff
}
.btn-1.hover-slide-right::before {
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0%;
}

.btn-3 span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 50px;
    transition: 0.3s;
	border-radius: 30px;
}
.btn-3 span {
    color: #707070;
    border: 1px solid #707070;
    transition: 0.2s;
}
.btn-3:hover span {
    color: #fff;
	border: 1px solid #ED1C24;
}
.btn-3::before {
    background-color: #ED1C24;
    transition: 0.3s ease-out;
}
.btn-3.hover-slide-right:hover::before {
    width: 100%;
	color: #fff
}
.btn-3.hover-slide-right::before {
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0%;
}
.btn-3:hover img{
	filter: brightness(100)
}

.effect-bg {
  align-items: center;
  background-color: #fff;
  border: 1px solid #eee;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1000;
  overflow: visible;
}
.effect-bg img {
  object-fit: cover;
}
.effect-bg::before, .effect-bg::after {
  background-image: linear-gradient(-180deg, black 100%, black 100%);
  content: "";
  height: 100%;
  position: absolute;
  transition: all 0.2s;
  transition-delay: 0.2s;
  transform: translateY(0px) translateX(0px);
  width: 100%;
  z-index: -1;
}
.effect-bg::after {
  background-image: linear-gradient(0deg, #ed1c24 100%, #ed1c24 100%);
}
.effect-bg:hover {
  animation-name: hoverPop;
  animation-duration: 0.4s;
  animation-fill-direction: forward;
}
.effect-bg:hover img {
  box-shadow: 2px 2px 4px 0px rgba(10, 12, 15, 0.27);
  box-shadow: 0px 0px 30px 0px rgba(10, 12, 15, 0.27);
}
.effect-bg:hover::before {
  animation: slick-hover-2 3s 0.4s linear infinite;
  transform: translateY(-20px) translateX(-20px);
}
.effect-bg:hover::after {
  animation: slick-hover 3s 0.4s linear infinite reverse;
  transform: translateY(20px) translateX(20px);
}

@keyframes hoverPop {
  0%, 100% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.05);
  }
  66% {
    transform: scale(0.9);
  }
}
@keyframes slick-hover {
  0.00% {
    transform: translateY(20px) translateX(20px);
  }
  16.67% {
    transform: translateY(-13px) translateX(-9px);
  }
  33.33% {
    transform: translateY(4px) translateX(12px);
  }
  50.00% {
    transform: translateY(20px) translateX(-20px);
  }
  66.67% {
    transform: translateY(-3px) translateX(8px);
  }
  83.33% {
    transform: translateY(-15px) translateX(-11px);
  }
  100.00% {
    transform: translateY(20px) translateX(20px);
  }
}
@keyframes slick-hover-2 {
  0.00% {
    transform: translateY(-20px) translateX(-20px);
  }
  16.67% {
    transform: translateY(3px) translateX(-5px);
  }
  33.33% {
    transform: translateY(18px) translateX(-10px);
  }
  50.00% {
    transform: translateY(-20px) translateX(20px);
  }
  66.67% {
    transform: translateY(15px) translateX(-4px);
  }
  83.33% {
    transform: translateY(-1px) translateX(15px);
  }
  100.00% {
    transform: translateY(-20px) translateX(-20px);
  }
}

#lineAdd .modal-content,#booking .modal-content{
	border-radius: 30px;
}
#lineAdd .modal-header,#booking .modal-header{
	border-bottom: none;
}
#lineAdd .modal-footer,#booking .modal-footer{
	border-top: none;
}
.qr-line{
	text-align: center;
}
.qr-line img{
	border: 5px solid #EA0000;
	border-radius: 30px
}
.qr-line-text{
	color: #666;
	padding: 30px 0
}
.qr-line-text p{
	font-size: 17px;
}

#carlist{
	background-image: url('../images/bg-carlist.png');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
}
.car-title h2{
	display: inline-block;
	padding-bottom: 20px;
	
}
@media (max-width:991px){
	.car-title{
		text-align: center;
		white-space: nowrap
	}
}
@media(min-width:992px){
	#carlist{
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.car-title h2{
		border-bottom: 3px solid #ccc;
	}
}
.car-menu{
	padding-top: 20px;
}
.car-menu ul.nav{
	list-style: none;
	padding: 0;
	display: block
}
.car-menu ul.nav li{
	padding-bottom: 20px;
	font-weight: 500;
}
.car-menu ul.nav li a{
	display: inline-block;
	border-bottom: 3px solid transparent;
	line-height: 1;
	padding: 0;
}

.car-menu ul li a:hover,.car-menu ul li a.active{
	color: #C41616;
}

.custom-dropdown{
	width: 300px;
	margin: auto;
}
.custom-dropdown .btn{
	border: 1px solid #707070;
	background-color: #fff;
	border-radius: 25px;
	color: #707070;
	position: relative;
	text-align: left;
	padding: 10px 1.5rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.custom-dropdown .btn.show{
	border-radius: 25px 25px 0 0;
	border-bottom: 1px solid transparent;
}
.custom-dropdown .btn:focus,.custom-dropdown .btn:active{
	box-shadow: none;
}
.custom-dropdown .btn-secondary:not(:disabled):not(.disabled).active,.custom-dropdown .btn-secondary:not(:disabled):not(.disabled):active, .custom-dropdown.show>.btn-secondary.dropdown-toggle{
	border: 1px solid #707070;
	background: #fff;
	color: #707070
}
.custom-dropdown .btn-secondary:not(:disabled):not(.disabled).active img,.custom-dropdown .btn-secondary:not(:disabled):not(.disabled):active img, .custom-dropdown.show>.btn-secondary.dropdown-toggle img{
	filter: brightness(0) invert(1);
}
.custom-dropdown .dropdown-toggle::before{
	width: 42px;
    height: 40px;
    position: absolute;
    background: #fff;
    z-index: 1;
    right: 0px;
    top: 2px;
    content: "";
    border-radius: 45px;
}
.custom-dropdown .dropdown-toggle::after{
	position: absolute;
    top: 22px;
	right:20px;
	width: 15px;
	height: 8px;
	content: "";
	border: none;
	background: url('../images/icon-dropdown.svg') no-repeat;
	background-size: contain;
	z-index: 2
}
.custom-dropdown .btn-secondary:not(:disabled):not(.disabled).active.dropdown-toggle::after, .custom-dropdown .btn-secondary:not(:disabled):not(.disabled):active.dropdown-toggle::after, .custom-dropdown.show>.btn-secondary.dropdown-toggle::after{
	/*filter: brightness(0) invert(1);*/
	box-shadow: none;
	outline: none;
}
.custom-dropdown .dropdown-item > span{
	width: 50px;
	text-align: center;
	display: inline-block
}
.custom-dropdown .dropdown-item.active, .custom-dropdown .dropdown-item:active{
	background: #fff;
	color: #707070
}
.custom-dropdown .dropdown-menu{
	font-size: 1rem;
	left: 0;
	top: 44px;
	right: 0;
	margin: 0;
	border: 1px solid #707070;
	border-top: 1px solid transparent;
	border-radius: 0 0 25px 25px;
	overflow: hidden;
	color: #707070;
	padding: 10px 0;
	min-width: 100%;
}
.custom-dropdown .dropdown-menu .dropdown-inner{
	overflow-y: auto;
	max-height: 270px;
}
.dropdown-item{
	color: #707070;
	font-size: 1.25rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
@media(max-width:767px){
	.custom-dropdown .btn{
		font-size: 1rem
	}
	.custom-dropdown .dropdown-toggle::after{
		top: 20px;
	}
	.dropdown-item{
		font-size: 1rem;
	}
}

.dropdown-item:hover{
	background: #ED1C24;
	color: #fff
}
.custom-dropdown .dropdown-menu:before{
	content: "";
	position: absolute;
	height: 1px;
	background: #707070;
	top: 0;
	left: 20px;
	right: 20px;
}
.car-box-detail p a{
	color: #666
}
.car-box:hover .car-box-detail p a{
	color: #ED1C24
}
.car-box{
	position: relative;
	top: 0;
	transition: 0.2s all ease-in-out;
	padding-bottom: 30px;
	text-align: center;
}
.car-box:hover{
	position: relative;
	top: -20px;
}
.car-box h4{
	font-size: 1.2rem;
	line-height: 1;
	margin-bottom: 5px
}
.car-box p{
	font-size: 0.9rem;
	font-weight: 500
}
#breadcrumb{
	background: #000
}
.breadcrumb{
	margin-bottom: 0;
	background-color: transparent;
	font-size: 0.9rem;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 0;
	padding-right: 0;
}
#breadcrumb .breadcrumb-item{
	color: #fff;
	white-space: nowrap;
}
#breadcrumb .breadcrumb-item.active{
	color: #fff
}
@media(min-width:992px){
	.breadcrumb{
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 0;
		padding-right: 0;
	}
	#breadcrumb{
		background: #fff
	}
	#breadcrumb .breadcrumb-item{
		color: #666
	}
	#breadcrumb .breadcrumb-item.active{
		color: #1A1A1A
	}
}
.breadcrumb-item+.breadcrumb-item::before{
	content: "|"
}

#car_title{
	background-image: url('../images/bg-carlist2.jpg');
	padding-top: 40px;
	padding-bottom: 40px;
	position: relative;
}

.btn-quote::before,
.btn-quote::after {
  position: absolute;
  content: "";
}
.btn-quote{
	color: #fff;
	border-radius: 40px;
	padding: 0;
	position: relative;
	overflow: hidden;
	background: #ED1C24;
	border: none;
	min-width: 250px;
	max-width: 100%;
	white-space: nowrap;
	margin-bottom: 10px;
}
.btn-quote:hover{
	color: #fff
}
.btn-quote span {
    position: relative;
    display: inline-block;
    font-size: 20px;
	line-height: 20px;
    font-weight: 700px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 50px;
    transition: 0.3s;
	border-radius: 40px;
}
.btn-quote.submit-contact span{
	border-radius: 40px;
	min-width: 368px;
	max-width: 100%;
	height: 80px;
	line-height: 80px;
	padding: 0px 50px;
}
@media(max-width:767px){
	.btn-quote.submit-contact span{
		min-width: 100%;
		height: 60px;
		line-height: 60px;
	}
	.btn-quote.submit-contact{
		min-width: 100%
	}
}
.btn-quote span {
    color: rgb(255, 255, 255);
    border: 1px solid #ED1C24;
    transition: 0.2s;
}
.btn-quote:hover span {
    color: #fff;
	border: 1px solid rgb(26, 26, 26);
}
.btn-quote::before {
    background-color: rgb(26, 26, 26);
    transition: 0.3s ease-out;
}
.btn-quote.hover-slide-right:hover::before {
    width: 100%;
	color: #fff
}
.btn-quote.hover-slide-right::before {
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0%;
}


.car_series{
	border-bottom: 1px solid #9D9D9D;
	display: inline-block;
	margin-bottom: 15px;
}
.car_series h1{
	font-size: 2rem
}
.car_series h3{
	font-size: 0.9rem
}

@media(min-width:992px){
	#car_title{
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.car_series h1{
		font-size: 2.3rem
	}
	.car_series h3{
		font-size: 1.6rem
	}
}
.sub_series{
	color: #666
}
@media(max-width:767px){
	.sub_series{
		font-size: 0.8rem
	}
}
.car_price{
	text-align: right;
}
.price strong{
	font-size: 1.3rem
}
.price_highlight{
	border-bottom: 1px solid #9D9D9D;
	display: inline-block;
	padding-top: 20px;
	margin-bottom: 15px;
}
.price_start{
	color:#ED1C24
}
.price_title{
	font-size: 0.8rem
}
@media(min-width:992px){
	.price strong{
		font-size: 2.3rem
	}
	.price_title{
		font-size: 1rem
	}
}
@media(max-width:767px){
	.price_start{
		font-size: 0.7rem
	}
}
.car_top{
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	z-index: 9
}
.car_photo{
	padding-top: 180px;
}
@media(min-width:992px){
	#car_title{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.car_top{
		top: 80px;
	}
	.car_photo{
		padding-top: 180px;
	}
}
.car_img{
	position: relative;
	z-index: 9
}
@media(min-width:1200px) and (max-width:1600px){
	
	#car_title{
		padding-left: 15%;
		padding-right: 15%
	}
	.car_photo{
		padding-top: 150px;
	}
}
@media(max-width:767px){
	.car_img{
		overflow: hidden;
	}
	/*.car_img img{
		transform: scale(1.1);
	}*/
}
.btn-feature{
	background: #1A1A1A;
	color: #fff;
	border-bottom: 5px solid #ED1C24;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 0;
}
.btn-feature img{
	display: inline-block;
	margin-bottom: 15px;
}
@media(max-width:767px){
	.btn-feature{
		height: 86px;
		font-size: 0.7rem;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.btn-feature img{
		width: 60%;
		height: 60%;
		margin-bottom: 5px;
	}
}
.btn-feature:hover{
	color: #ED1C24;
}
#feature .col-4+.col-4{
	border-left: 1px solid #fff;
}
.sub_car_txt{
	padding: 5px;
}
.sub_car_txt h4{
	border-bottom: 1px solid #707070;
	padding-bottom: 10px;
}
#relate-car{
	padding-top: 50px;
	padding-bottom: 50px;
}
@media(min-width:992px){
	#relate-car{
		padding-top: 100px;
		padding-bottom: 100px;
	}
}
#calcurate{
	padding-top: 100px;
	padding-bottom: 100px;
	background: #1A1A1A
}
#calcurate h1{
	color: #fff;
	text-align: center;
	font-size: 2.8rem;
	margin-bottom: 3rem;
}
.form-cal{
	background: #fff;
	border-radius: 30px;
	padding: 30px;
}
@media(max-width:767px){
	#calcurate{
		padding-top: 50px;
	}
	#calcurate h1{
		margin-bottom: 10px;
	}
	.form-cal{
		margin-top: 100px;
	}
}
.form-cal > .row > .col-lg-6+.col-lg-6{
	border-top: 1px solid #DDDDDD
}
@media(min-width:992px){
	.form-cal > .row > .col-lg-6+.col-lg-6{
		border-left: 1px solid #DDDDDD;
		border-top: none
	}
}

.form-cal .table td{
	padding: 0;
	vertical-align: text-bottom
}
.form-cal .table td:first-child{
	font-size: 1.5rem
}
.form-cal .table td:last-child{
	font-weight: bold;
}
.full-price strong{
	font-size: 2.25rem
}
.month-price strong{
	font-size: 3rem
}
@media(min-width:992px){
	.cal-condition{
		padding: 30px 80px;
	}
}

.cal-condition .custom-select{
	background: url('../images/icon-dropdown.svg') no-repeat right 1.5rem center/16px 10px;
	border-radius: 30px;
	border-color: #707070;
	font-size: 1rem
}

@media(min-width:992px){
	.cal-condition .custom-select{
		font-size: 1.2rem
	}
}
@media(max-width:767px){
	.form-control-lg{
		font-size: 1rem
	}
}
.cal-condition .custom-select-lg{
	padding-left: 1.5rem
}
.cal-condition .form-control{
	border-radius: 30px;
	border-color: #707070;
	height: calc(1.5em + 1.2rem + 2px);
	padding: 0.5rem 1.5rem
}
.cal-condition .input-group-text{
	border-radius: 30px;
	padding: 0.5rem 1.5rem;
	border-color: #707070;
	background: #fff;
}
.cal-condition .form-group{
	margin-bottom: 1.5rem
}
.btn-main{
	background: #ED1C24;
	border-radius: 30px;
	color: #fff;
	padding: 18px 30px;
    font-size: 16px;
    line-height: 16px;
	margin-bottom: 15px;
}
.btn-main:hover{
	color: #fff;
}
.btn-secondary{
	background: transparent;
	border-radius: 30px;
	border-color: #707070;
	color: #707070;
	padding: 18px 30px;
    font-size: 16px;
    line-height: 16px;
	margin-bottom: 15px;
}
#calcurate .btn-quote span {
    font-size: 16px;
	line-height: 16px;
    padding: 10px 30px;
	height: auto;
	min-width: auto;
	max-width: 250px;
}

#installment{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #F4F4F4;
}
#installment h2,#relate-car h2,#spec h2{
	margin-bottom: 2rem;
	font-size: 2.8rem
}
@media(min-width:992px){
	#installment{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	#installment h2,#relate-car h2,#spec h2{
		margin-bottom: 3rem;
		font-size: 2.8rem
	}
}

#installment .btn-3 span{
	color: #707070
}
#installment .btn-3:hover span{
	color: #fff
}
#spec{
	padding-top: 50px;
	padding-bottom: 50px;
}
.tkk-tabs .nav{
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 2rem !important;
}
.tkk-tabs .nav-pills .nav-link{
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.7rem
}
@media(min-width:992px){
	.tkk-tabs .nav{
		margin-bottom: 4rem !important;
	}
	#spec{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.tkk-tabs .nav-pills .nav-link{
		font-size: 1rem
	}
	#truck-table.tkk-tabs .nav-pills .nav-link{
		font-size: 1.5rem
	}
}
.tkk-tabs .nav-link{
	padding: .5rem 0.2rem;
}
.tkk-tabs .nav-pills .nav-link.active{
	background: none;
	color: #EA0000;
	font-weight: 700;
	border-bottom: 4px solid #EA0000;
	border-radius: 0
}
.tkk-tabs .nav-pills .nav-link:hover{
	background: none;
	color: #EA0000;
	font-weight: 700;
	border-bottom: 4px solid #EA0000;
	border-radius: 0
}
#spec figure{
	margin-bottom: 0;
}
#promotion-list{
	padding-top: 50px;
	padding-bottom: 50px;
}
@media(min-width:992px){
	#promotion-list{
		padding-top: 100px;
		padding-bottom: 100px;
	}
}
.promo-detail{
	margin-bottom: 3rem;
}
.promo-detail small{
	font-weight: 500;
}
@media(max-width:767px){
	.promo-detail small{
		font-size: 14px;
	}
}
.promo-detail h4{
	padding-top: 15px;
	padding-bottom: 10px;
	font-size: 1.2rem
}
.promo-detail p{
	font-size: 0.9rem
}
.pages-nav{
	border-top: 1px solid #ccc
}
.pages-nav .page-link{
	border: none;
	position: relative;
	top: -2px;
	background: none;
	padding: 0.75rem 1.5rem;
}
.pages-nav .page-item.disabled .page-link{
	background: none;
}
@media(max-width:767px){
	.pages-nav .page-link{
		padding: 0.5rem 1rem;
	}
	.pages-nav{
		font-size: 0.8rem
	}
	.pages-nav .page-item.disabled .page-link{
		display: none;
	}
}
.pages-nav .page-item a{
	color: #ccc;
}
.pages-nav .page-item a:hover{
	color: #707070;
	background: none;
}
.pages-nav .page-item img,.page-item.disabled:hover img{
	opacity: 0.4
}
.pages-nav .page-item:hover img{
	opacity: 1
}
.pages-nav .page-item .page-link{
	border-top: 3px solid transparent
}
.pages-nav .page-item.active .page-link{
	color: #707070;
	background: none;
	border-top: 3px solid #707070
}
@media(min-width:992px){
	.pages-nav .page-item:first-child{
		margin-right: 60px;
	}
	.pages-nav .page-item:last-child{
		margin-left: 60px;
	}
}
#promotion-title{
	padding-top: 20px;
	padding-bottom: 20px;
}
#promotion-title h1{
	line-height: 3rem
}
@media(max-width:767px){
	#promotion-title h1{
		font-size: 1.5rem !important;
		line-height: 2rem
	}
}
#promotion-photo{
	position: relative;
}
#promotion-photo figure{
	margin-bottom: 0;
}
#promotion-photo:before{
	content: "";
	position: absolute;
	height: 70%;
	width: 100%;
	left: 0;
	right: 0;
	top: 15%;
	background: #C41616;
}
#promotion-detail{
	padding-top: 50px;
	padding-bottom: 50px;
	line-height: 2
}
.promotion-text{
	border-bottom: 1px solid #707070;
	padding-bottom: 50px;
}
.promotion-text hr{
	border-top: 1px solid #707070;
}
#car-suggest{
	padding-top: 20px;
	padding-bottom: 50px;
}
#car-suggest h2{
	margin-bottom: 50px;
}
#car-suggest .sub_car figure {
	margin-bottom: 2rem
}
#car-suggest .sub_car_txt h4{
	border-bottom: none;
	margin-bottom: 0;
	font-size: 1rem
}
@media(min-width:992px){
	#car-suggest .sub_car_txt h4{
		font-size: 1.5rem
	}
}
#service-title{
	padding-top: 60px;
	padding-bottom: 50px;
}
@media(min-width:992px){
	#service-title{
		padding-top: 100px;
		padding-bottom: 100px;
	}
}
.serivce-feature{
	background: #1A1A1A;
	text-align: center;
	color: #fff;
	display: block;
	height: 100%;
	vertical-align: text-bottom;
	padding: 20px 10px;
}
.serivce-feature:hover{
	color: #fff;
	box-shadow: 0px 10px 6px 0 rgba(0,0,0,0.2);
}
.serivce-feature.bg-red{
	background-color: #C41616
}
.serivce-feature figure{
	height: 60px;
	position: relative;
}
.serivce-feature figure img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.serivce-feature h4{
	font-size: 16px;
	font-weight: 500
}
@media(max-width:767px){
	.serivce-feature h4{
		font-size: 1rem;
	}
}
#service-check h1 img{
	vertical-align: text-bottom;
}
#service-check h3{
	font-weight: 400
}
#service-parts{
	margin-top: 50px;
}
#service-parts figure{
	margin-bottom: 0;
}
.service-parts-text{
	background: #C41616;
	color: #fff;
	text-align: center;
	padding: 50px 20px 50px;
	position: relative;
	height: 100%;
}
@media(max-width:767px){
	.service-parts-text > img{
		max-width: 56px;
	}
}
@media(min-width:992px){
	#service-parts{
		margin-top: 150px;
	}
	#service-parts figure{
		position: relative;
		top: -50px;
		width: 104%;
		height: 100%;
		left: 0;
		right: 20px;
		z-index: 9;
	}
	.service-parts-text{
		padding: 150px 50px 150px;
	}
}
@media(min-width:1600px){
	.service-parts-text{
		padding: 25% 50px 150px;
	}
}
.btn-service::before,
.btn-service::after {
  position: absolute;
  content: "";
}
.btn-service{
	color: #fff;
	border-radius: 50px;
	padding: 0;
	position: relative;
	overflow: hidden;
	background: none;
	border: none
}
.btn-service:hover{
	color: #fff;
}
.btn-service span {
    position: relative;
    display: inline-block;
    font-size: 20px;
	line-height: 20px;
    font-weight: 700px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 50px;
    transition: 0.3s;
	border-radius: 50px;
	border: 1px solid #fff;
}
.btn-service span {
    color: rgb(255, 255, 255);
    transition: 0.2s;
}
.btn-service:hover span {
    color: #fff;
	border: 1px solid #000;
}
.btn-service::before {
    background-color: rgb(26, 26, 26);
    transition: 0.3s ease-out;
}
.btn-service.hover-slide-right:hover::before {
    width: 100%;
	color: #fff
}
.btn-service.hover-slide-right::before {
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0%;
}
#service-repairs{
	padding-top: 50px;
	padding-bottom: 50px;
}
#service-repairs h1{
	margin-bottom: 50px;
}
@media(min-width:992px){
	#service-repairs{
		padding-top: 100px;
		padding-bottom: 100px;
	}
	#service-repairs h1{
		margin-bottom: 100px;
	}
}
#sale-parts{
	background: #000;
	color: #fff;
	padding-top: 100px;
	padding-bottom: 100px;
}
#sale-parts h1 img{
	vertical-align: text-bottom
}
@media(max-width:767px){
	#sale-parts{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	#sale-parts h1 img,#spareparts h1 img{
		max-width: 50px;
	}
}
.parts-box figure{
	text-align: center;
}
.parts-box h5{
	text-align: center;
	font-weight: 400
}
.series-text{
	color:#fff;
	padding: 3rem;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.series-text h2{
	font-size: 3rem;
	text-transform: uppercase;
	
}
@media (min-width: 768px){
	.series-text{
		padding: 6.5rem;
	}
}
/*@media(min-width:1600px){
	.series-text .text-middle{
		position: relative;
		top: 50%;
		margin-top: -25%;
	}
}*/
.series-text p{
	font-size: 16px;
}
#promotion.bg-white{
	color: #000;
}
#promotion.bg-white .owl-item+.owl-item{
	border-left:1px solid rgba(112,112,112,0.3)
}
#promotion.bg-white .popular-car-text p{
	color: #707070
}
.car-cal h3{
	text-transform: uppercase;
}
@media(max-width:767px){
	h1{
		font-size: 2rem !important
	}
	h2,.month-price strong,.full-price strong{
		font-size: 1.8rem !important
	}
	h3 {
		font-size: 1.2rem;
	}
	.car-feature .car-feature-text h3{
		font-size: 1.5rem
	}
	.car-cal{
		position: relative;
    	margin-top: -140px;
	}
	.form-cal .table td:first-child{
		font-size: 1rem;
	}
	#calcurate .btn-quote{
		width: 100%
	}
	#calcurate h1 img{
		width: 25px;
    	display: inline-block;
		vertical-align: middle;
		margin: 0;
		
	}
	.btn-quote img{
		max-width: 24px;
	}
}
@media(min-width:768px){
	.car-cal{
		padding-left: 50px;
		padding-right: 50px;
	}
}
@media(max-width:991px){
	.addline-btn{
		width: 100%
	}
	.booking-btn{
		width: 100%
	}
}

.addline-btn{
	background: #1DC321;
	color: #fff;
	padding: 10px 20px 7px;
	border-radius: 30px;
	display: inline-block;
	font-size: 1rem
}
.addline-btn:hover{
	background: #1DB721;
	color: #fff;
}
.booking-btn{
	background: #C41616;
	color: #fff;
	padding: 10px 20px 7px;
	border-radius: 30px;
	display: inline-block;
	font-size: 1rem
}
.booking-btn:hover{
	background: #B11616;
	color: #fff;
}
@media(max-width:360px){
	.addline-btn{
		font-size: 1rem
	}
	.booking-btn{
		font-size: 1rem
	}
}
@media(min-width:992px){
	.car-menu ul{
		list-style: none;
		margin-bottom: 0;
		padding-left: 0;
	}
	.car-menu ul > li a{
		color: #2A2F35;
		padding: 20px 10px;
		display: block;
		font-size: 1.15rem;
		transition: opacity 1s cubic-bezier(.4,0,0,1) .6s,transform 1s cubic-bezier(.4,0,0,1) .6s;
		position: relative;
		opacity: 1;
		transform: translateY(0) translateZ(0);
	}
	
	.car-menu ul > li a:before{
		content: "";
		position: absolute;
		bottom: -3px;
		left: 0px;
		right: 0px;
		height: 3px;
		background-color: currentColor;
		transform: scaleX(0) translateZ(0);
		transform-origin: 100% 50%;
		transition: transform .6s cubic-bezier(.37,.31,0,1);
	}
	.car-menu ul > li a:hover:before{
		transform: scaleX(1) translateZ(0);
		transform-origin: 0 50%;
	}
	.car-menu ul > li a:after {
		content: attr(data-text);
		position: absolute;
		top: 10px;
		left: 10px;
		font-weight: 700;
		opacity: 0;
		letter-spacing: -.05em;
		line-height: .88;
	}
	.car-menu ul > li a span {
		transition: opacity .3s cubic-bezier(.215,.61,.355,1);
	}
}
.cal-condition .custom-dropdown{
	width: 100%
}


/* detail Popup Gallery*/
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } 
}

/*.col-sm-3{
  width: 20%;
  float: left;
}
.col-sm-3 img {
  max-width: 100%;
  min-width: 100%;
  min-height: 200px;
  max-height: 200px;
  object-fit: cover;
}*/
.gallery_container .col-sm-3, .video_container .col-sm-3{
  margin: 10px 0;
}
.gallery_container, .video_container{
  margin: 10px 0;
  display: inline-block;
  width: 100%;
}
.video_container img + img{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  max-width: 30px;
  max-height: 30px;
  min-width: 30px;
  min-height: 30px;
  z-index: 9;
}
/*a.lightbox::before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'fontAwesome';
    content: "\f00e";
    pointer-events: none;
    z-index: 9;
    transition: 0.4s;
}
a.lightbox:hover:before {
    opacity: 1;
}
a:after {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    width: calc(100% - 30px);
    height: 100%;
    opacity: 0;
    background-color: rgba(69, 68, 68, 0.9);
    content: '';
    transition: 0.4s;
}
a:hover:after {
    opacity: 1;
}
*/


#sale-parts .col-lg:nth-child(even) .parts-box figure{
	background-image: url('../images/bg_carmodel_grey.jpg');
	background-repeat: no-repeat;
	background-size: cover
}
#sale-parts .col-lg:nth-child(odd) .parts-box figure{
	background-image: url('../images/bg_carmodel_red.jpg');
	background-repeat: no-repeat;
	background-size: cover
}
.car_photo .btn-link{
	padding: 0 !important;
}
#color-name{
	text-align: center;
	padding: 20px 10px;
	font-size: 20px;
	font-weight: 500
}
.car-color .btn{
	border-radius: 64px;
	border: none;
	margin-bottom: 15px;
}
.car-color .btn:hover,.car-color .btn.active{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
}
@media(max-width:767px){
	.car-color .col-2{
		padding-left: 5px;
		padding-right: 5px;
	}
}
.main-menu ul li.drop:after{
	background-image: url('../images/icon-dropdown.svg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 8px;
	height: 4px;
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -4px;
	content: "";
	filter: brightness(0) invert(1);
}
.main-menu ul li.drop ul{
	position: absolute;
	background-color: #1A1A1A;
	z-index: 999;
	left: 0;
	top: 100%;
	padding: 15px;
	display: none;
}
.main-menu ul li.drop:hover ul{
	display: block;
}
.main-menu ul li.drop ul li{
	white-space: nowrap;
	text-align: left;
}
.main-menu ul li.drop ul li a{
	padding: 5px
}
.desktop-header.fixed-header .main-menu ul li.drop ul li a{
	padding: 5px
}
@media(min-width:992px){
	.main-menu > ul > li.drop ul li a:before{
		bottom: 5px;
		left: 5px;
		right: 5px;
		
	}
	.main-menu > ul > li.drop ul li a{
		display: inline-block;
	}
}
@media(min-width:992px) and (max-width:1024px){
	.main-menu ul li.drop:after{
		right: 0;
	}
}
.mobile-menu ul li{
	position: relative;
}
.mobile-menu ul li.drop:after{
	background-image: url('../images/icon-dropdown.svg');
	background-repeat: no-repeat;
	background-size: 8px 4px;
	background-position: center center;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 5px;
	top: 10px;
	content: "";
	filter: brightness(0) invert(1);
}
.mobile-menu ul li.drop ul{
	position: relative;
	opacity: 0;
	height: 0;
	transition: 0.4s all ease-in-out;
	overflow: hidden;
	padding: 0;
	padding-left: 15px;
	padding-right: 15px;
}
.mobile-menu ul li.drop.show ul{
	opacity: 1;
	height: auto;
}
.mobile-menu ul li.drop.show > a{
	border-bottom: 1px solid #707070
}
@media(max-width:767px){
	h1 img{
		display: block;
		margin: 0 auto 15px;
	}
}
.text-figure figure figcaption{
	position: absolute;
	height: 50%;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.text-figure figure figcaption h5{
	font-weight: 400;
	position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}
@media(max-width:767px){
	.text-figure figure figcaption h5{
		font-size: 1rem;
		bottom: 20px
	}
}
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 40vw);
    grid-gap: 5px;
}
.gallery figure{
	margin-bottom: 0;
	position: relative;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.gallery__item--2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.gallery__item--4 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}
.gallery__item--6 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
.gallery__item--7 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}
@media(min-width:992px){
	.gallery {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(8, 5vw);
		grid-gap: 5px;
	}
	.gallery figure{
		margin-bottom: 0;
		position: relative;
	}
	.gallery__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.gallery__item--1 {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 5;
	}
	.gallery__item--2 {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 1;
		grid-row-end: 5;
	}
	.gallery__item--3 {
		grid-column-start: 5;
		grid-column-end: 7;
		grid-row-start: 1;
		grid-row-end: 5;
	}
	.gallery__item--4 {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 5;
		grid-row-end: 9;
	}
	.gallery__item--5 {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 5;
		grid-row-end: 9;
	}
	.gallery__item--6 {
		grid-column-start: 5;
		grid-column-end: 7;
		grid-row-start: 5;
		grid-row-end: 9;
	}
	.gallery__item--7 {
		grid-column-start: 7;
		grid-column-end: 9;
		grid-row-start: 1;
		grid-row-end: 9;
	}
	.text-figure{
		margin-bottom: 3rem
	}
}
#truck-detail{
	background-image: url('../images/bg-popular.png');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	padding-bottom: 50px;
}
#truck-detail h1{
	padding-top: 50px;
	padding-bottom: 30px;
}
.car2-photo{
	margin-bottom: 50px;
}

@media(min-width:992px){
	#truck-detail{
		padding-bottom: 100px;
	}
	#truck-detail h1{
		padding-top: 100px;
		padding-bottom: 50px;
	}
	.car2-detail{
		padding-left: 10%;
		padding-right: 10%;
	}
}
@media(min-width:1600px){
	.car2-detail{
		padding-left: 10%;
		padding-right: 10%;
	}
}
@media(max-width: 767px) {
	.truck-btn{
		text-align: center;
	}
	#truck-detail{
		border-bottom: 1px solid #B5B5B5
	}
}
.slider-popular.car2-photo .owl-theme .owl-nav{
	top: 48%;
}
.slider-popular.car2-photo .owl-theme .owl-dots{
	bottom: -40px;
}
.slider-popular.car2-photo .owl-carousel .owl-nav button.owl-prev{
	left: -50px;
}
.slider-popular.car2-photo .owl-carousel .owl-nav button.owl-next{
	right: -50px;
}

.car2-price-box{
	padding-top: 30px;
	padding-bottom: 15px;
	margin-top: 30px;
	border-top: 1px solid #CCCCCC;
	text-align: center;
	font-size: 1.2rem
}

.car2-price-box .price strong{
	font-size: 4rem
}
.car-option-price .price strong{
	font-size: 2rem
}
.car-option-price{
	float: left;
	width: 50%;
	padding-right: 10px;
}
.car-option-price+.car-option-price{
	border-left: 1px solid #CCCCCC;
	padding-left: 10px;
}
@media(min-width:992px){
	.car2-price-box{
		text-align: left
	}
	.car-option-price{
		padding-right: 30px;
	}
	.car-option-price+.car-option-price{
		border-left: 1px solid #CCCCCC;
		padding-left: 30px;
	}
}
#truck-table{
	padding-top: 80px;
	padding-bottom: 80px;
}
.truck-table-title{
	font-size: 1.7rem;
	text-align: center;
	margin-bottom: 4rem;
}
@media(max-width:767px) {
	.truck-table-title{
		margin-bottom: 2rem;
	}
}
.table-responsive th {
	background: #1A1A1A;
	text-align: center;
	color: #fff;
}
.table-responsive th:last-child{
	background: #EF220D;
}
.table-responsive td,.table-responsive th {
	/*border-left: 1px solid #707070;
	border-top-color: transparent*/
}
.table-responsive td:last-child,.table-responsive th:last-child{
	/*border-left: 1px solid #707070;
	border-right: 1px solid transparent;
	border-top-color: transparent*/
}
.table-bordered td,.table-bordered th {
    border: 1px solid #707070;
	border-top: none;
	border-bottom: none;
	text-align: center;
}
.table-bordered th {
    border: 1px solid #707070;
	border-bottom-color: transparent;
	text-align: center;
	white-space: nowrap;
}
#truck-table .table-bordered td:nth-child(2){
	text-align: left;
}
#truck-table .table-bordered th:nth-child(2){
	text-align: center;
}
.table-bordered tr:last-child td,.table-bordered tr:last-child th {
    border-bottom: 1px solid #707070;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: #F5F5F5;
}

.table-bordered tr.table-footer td{
	border-top: 1px solid #707070 !important;
}
.table-body td:first-child{
	text-align: left
}
.table-quote tr:last-child td:first-child{
	background: #1A1A1A;
	color: #fff;
	vertical-align: middle
}
.table-quote tr:last-child td:last-child{
	background: #EF220D;
	color: #fff;
	font-size: 1.4rem;
	vertical-align: middle;
	font-weight: 700;
}

.tkk-tabs2 .nav-pills .nav-link{
	border-radius: 0;
	background: #ccc;
	color: #fff;
	padding: 20px 30px;
}
.tkk-tabs2 .nav-pills .nav-link img{
	margin-bottom: 10px;
}
@media(max-width:767px){
	.tkk-tabs2 .nav-pills .nav-link img{
		width: 70%
	}
}
.tkk-tabs2 .nav-pills .nav-link.active,.tkk-tabs2 .nav-pills .show>.nav-link{
	background: #C41616;
	
}
.tkk-tabs2 .nav-fill .nav-item+.nav-item{
	margin-left: 10px;
}
.tkk-tabs2 .nav{
	flex-wrap: nowrap;
}
@media(max-width:767px){
	.quote{
		margin-top: 0 !important;
	}
}
@media(max-width:767px){
	.btn-quote span{
		font-size: 16px;
		line-height: 16px;
		padding: 10px 60px;
	}
	.btn-service span{
		font-size: 16px;
		line-height: 16px;
		padding: 10px 60px;
	}
}
.quickmenu ul{
	list-style: none;
	color: #fff;
}

.quickmenu{
	position: fixed;
	bottom: 0;
	top: auto;
	right: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	background: #C41616;
	border-radius: 10px 0 0 10px;
}
.quickmenu a{
	background: #C41616;
	color: #fff;
	display: block;
	width: 25%;
	height: 100px;
	line-height: 2.2;
	text-align: center;
	box-shadow: 5px 0px 6px 0 rgba(0,0,0,0.16);
	padding: 15px 10px;
	transition: 0.4s all ease-in-out;
	overflow: hidden;
	float: left;
}
.quickmenu span{
	display: block;
	text-align: center;
	white-space: nowrap;
	font-size: 0.8rem;
}
@media(max-width:420px){
	.quickmenu span br{
		display: block !important
	}
	.quickmenu span{
		line-height: 1.4;
		margin-top: 5px;
	}
}
.quickmenu a:first-child{
	z-index: 99;
}
.quickmenu a:nth-child(2){
	z-index: 98
}
.quickmenu a:nth-child(3){
	z-index: 97
}
.quickmenu a:nth-child(4){
	z-index: 96
}
.quickmenu a{
	position: relative;
	right: 0;
}
@media(min-width:992px){
	.quickmenu{
		position: fixed;
		right: 0;
		bottom: auto;
		left: auto;
		top:50%;
		margin-top: -136px;
		z-index: 999;
		width: 68px;
	}
	.quickmenu a img{
		display: inline-block;
		vertical-align: text-bottom;
	}
	.quickmenu a{
		background: #C41616;
		color: #fff;
		display: block;
		width: 68px;
		height: 68px;
		line-height: 68px;
		text-align: center;
		box-shadow: -5px 5px 6px 0 rgba(0,0,0,0.16);
		padding: 5px 10px;
		transition: 0.4s all ease-in-out;
		overflow: hidden;
	}
	.quickmenu a:first-child{
		border-radius: 10px 0 0 0
	}
	.quickmenu a:last-child{
		border-radius: 0 0 0 10px
	}
	.quickmenu span{
		width: 0px;
		height: 100%;
		text-align: center;
		overflow: hidden;
		display: block;
		float: left;
		opacity: 0;
		transition: 0.4s all ease-in-out;
		white-space: nowrap;
		font-size: 1.1rem
	}
	.quickmenu a:hover{
		width: 185px;
		right: 117px;
	}
	.quickmenu a:hover span{
		width: 125px;
		opacity: 1
	}
	.quickmenu a{
		position: relative;
		right: 0;
	}
}
@media(max-width:991px){
	.home-page{
		padding-bottom: 100px;
	}
}
.livechat{
	position: fixed;
	right: 5%;
	bottom: 120px;
	z-index: 9;
}
.livechat a{
	width: 73px;
	height: 73px;
	display: block;
	border-radius: 73px;
	margin: auto;
	text-align: center;
	line-height: 73px;
	background: #C41616;
	box-shadow: 0px 3px 6px 0 rgba(0,0,0,0.16);
}
@media(min-width:992px){
	.livechat{
		bottom: 5%;
	}
}
.gototop{
	position: fixed;
	right: 5%;
	bottom: 5%;
	z-index: 999;
}
.gototop a{
	width: 50px;
	height: 50px;
	display: block;
	border-radius: 50px;
	margin: auto;
	text-align: center;
	line-height: 50px;
}
#breadcrumb .breadcrumb {
    display: block !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	color: #fff;
}

#breadcrumb .breadcrumb .breadcrumb-item {
    display: inline;
}

@media(max-width:767px){
	#service-title .col-6.p-2{
		padding: 0.2rem !important
	}
}

@media(min-width:768px){
	#slider{
		position: relative;
	}
	#slider #breadcrumb{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		z-index: 2;
		background: none;
		color: #fff
	}
	#slider #breadcrumb .breadcrumb-item{
		color: #fff
	}
	#slider #breadcrumb .breadcrumb-item+.breadcrumb-item::before{
		color: #fff
	}	
}
#fullservice-title{
	padding-top: 50px;
	padding-bottom: 50px;
}
#fullservice-title h1{
	margin-bottom: 50px;
	text-transform: uppercase;
}
#fullservice-title p {
	line-height: 1.8;
	color: #2A2F35;
	margin-bottom: 50px;
}
.full-feature {
	text-align: center;
}
@media(max-width:767px){
	.full-feature figure img{
		width: 60px;
	}
}
.full-feature h5{
	font-weight: 700;
	color: #2A2F35;
	font-size: 0.85rem
}
.full-feature small {
	display: block;
	color: #707070
}
#fullservice-title .col-6{
	margin-bottom: 20px;
}
#fullservice-title .col-6:nth-child(even){
	border-left: 1px solid #E5E5E5;
}
@media(min-width:992px){
	#fullservice-title{
		padding-top: 70px;
		padding-bottom: 70px;
	}
	#fullservice-title h1{
		margin-bottom: 50px;
	}
	#fullservice-title p {
		margin-bottom: 50px;
	}
	#fullservice-title .col-6+.col-6{
		border-left: 1px solid #E5E5E5;
	}
	.full-feature h5{
		font-size: 1.4rem
	}
}
.space-control{
	padding-top: 50px;
	padding-bottom: 50px;
	
}
.space-control h1{
	margin-bottom: 50px;
}
@media(min-width:992px){
	.space-control{
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.space-control h1{
		margin-bottom: 100px;
	}
}
#fullservice-detail{
	background-color: #F5F5F5;
}
.ma-feture{
	margin-bottom: 50px;
}
.ma-feture figure,.ma-feture p{
	margin-bottom: 0;
}
.ma-feture h5{
	margin-bottom: 5px;
}

#fullservice-highlight .series-text ul li{
	margin-bottom: 30px;
	position: relative;
	list-style: none
}
#fullservice-highlight .series-text ul li:before{
	width: 8px;
	height: 8px;
	background: #fff;
	content: "";
	border-radius: 8px;
	position: absolute;
	left: -25px;
	top: 4px;
}
#fullservice-highlight .series-text {
	text-align: center;
}
#fullservice-highlight .series-text figure,#fullservice-highlight .series-text h3{
	margin-bottom: 30px;
}
#fullservice-highlight .series-text ul{
	text-align: left;
	padding-left: 0;
}
#fullservice-highlight .series-text {
	padding: 10% 20%;
}
@media(min-width:992px){
	#fullservice-highlight .series-text ul li:before{
		width: 10px;
		height: 10px;
		border-radius: 10px;
		top: 9px;
	}
	#fullservice-highlight .series-text {
		padding: 0 25%;
	}
	#fullservice-highlight .series-text h3{
		font-size: 2.4rem;
		white-space: nowrap;
	}
	#fullservice-highlight .series-text p{
		font-size: 1.2rem;
	}
	#fullservice-highlight .series-text ul{
		font-size: 1.2rem;
	}
	
}
@media(max-width:767px){
	#fullservice-highlight .series-text figure{
		margin-bottom: 10px;
	}
	#fullservice-highlight .series-text img{
		max-width: 40px
	}
}
#fullservice-highlight .series-text,#repair-damaged .series-text{
	display: flex;
	justify-content: center;
	align-items: center;
}
#repairs-title{
	text-align: center;
	background: #C41616;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
	
}
#repairs-title.run{
	top: 0;
	opacity: 1
}
#repairs-title .container{
	position: relative;
	top:20px;
	transition: 0.4s all ease-in-out;
	opacity: 0;
}
#repairs-title.run .container{
	top: 0;
	opacity: 1
}
@media(min-width:992px){
	#repairs-title{
		padding-top: 100px;
		padding-bottom: 100px;
	}
}
@media(max-width:767px){
	#repairs-feature h1 span{
		display: block;
	}
	#repairs-feature .service-text img{
		width: 60px;
	}
}
#repairs-feature{
	position: relative;
	top:20px;
	transition: 0.4s all ease-in-out;
	opacity: 0;
}
#repairs-feature.run{
	top: 0;
	opacity: 1
}
#repair-damaged{
	position: relative;
	top:20px;
	transition: 0.4s all ease-in-out;
	opacity: 0;
}
#repair-damaged.run{
	top: 0;
	opacity: 1
}
.repair-except-sec{
	padding: 40px 15px;
	background: #fff;
	position: relative;
	margin-top: 70px;
}
#repair-except{
	padding-top: 50px;
	padding-bottom: 0;
	position: relative;
	top:20px;
	transition: 0.4s all ease-in-out;
	opacity: 0;
}
#repair-except.run{
	top: 0;
	opacity: 1
}
#repair-except h1{
	margin-bottom: 30px;
}
@media(min-width:992px){
	.repair-except-sec{
		border: 2px solid #CCCCCC;
		padding: 40px 100px;
		margin-top: 50px;
		box-shadow: 10px 10px 0 0 rgba(221,221,221,.56);
	}
	#repair-except h1{
		margin-bottom: 30px;
	}
	#repair-except{
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

.repair-except-title{
	background-image: url('../images/bg-except.png');
	background-size: cover;
	text-align: center;
	left: -15px;
	right: -15px;
	margin: auto;
	top: -60px;
    position: absolute;
	padding-top: 20px;
	padding-bottom: 10px;
}
.repair-except-title h2.ins{
	position: relative;
	display: inline-block;
	padding-left: 120px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.repair-except-title h2.ins img{
	position: absolute;
	left: -7px;
    top: -32px;
}
.repair-except-title h2.except{
	position: relative;
	display: inline-block;
}
.repair-except-title h2.except img{
	max-width: 50px;
}
.repair-except-detail{
	padding-top: 60px;
}
.repair-except-detail .col-lg-6{
	padding-top: 20px;
	padding-bottom: 20px;
}
.repair-except-detail .col-lg-6+.col-lg-6{
	border-top: 2px dashed #ccc;
}
@media(min-width:992px){
	.repair-except-title{
		background-size: 100%;
	}
	.repair-except-title h2.except{
		padding-left: 100px;
	}
	.repair-except-title h2.except img{
		max-width: 100%;
		position: absolute;
		left: -5px;
		top: -50px;
	}
	.repair-except-title{
		width: 70%;
		left: 0;
		right: 0;
	}
	.repair-except-detail .col-lg-6+.col-lg-6{
		border-left: 2px dashed #ccc;
		border-top: none
	}
}
#spareparts h1 img{
	filter: brightness(0)
}
#spareparts .col-lg-4 .parts-box{
	margin-bottom: 30px;
}

#spareparts .col-lg-4 .parts-box figure{
	/*box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);*/
	margin-bottom: 30px;
	background-repeat: no-repeat;
	background-size: cover;
}
/*#spareparts .col-lg-4:nth-child(even) .parts-box figure{
	background-image: url('../images/bg_carmodel_grey.jpg');
}
#spareparts .col-lg-4:nth-child(odd) .parts-box figure{
	background-image: url('../images/bg_carmodel_red.jpg');
}*/
@media(min-width:992px){
	#spareparts .col-lg-4 .parts-box{
		margin-bottom: 50px;
		margin-left: 20px;
		margin-right: 20px;
	}
	#spareparts .col-lg-4 .parts-box figure{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

#aboutus-vision{
	margin-top: 50px;
}
#aboutus-vision figure{
	margin-bottom: 0;
}
#aboutus-vision .service-parts-text{
	background: #000;
	color: #fff;
	text-align: center;
	padding: 50px 20px 50px;
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media(max-width:767px){
	#aboutus-vision .service-parts-text > img{
		max-width: 56px;
	}
}
@media(min-width:992px){
	#aboutus-vision{
		margin-top: 150px;
		padding-top: 50px;
	}
	#aboutus-vision figure{
		position: relative;
		top: -50px;
		width: 104%;
		height: 100%;
		left: 0;
		right: 20px;
		z-index: 9;
	}
	#aboutus-vision .service-parts-text{
		padding: 150px 50px 150px;
	}
}
@media(min-width:1600px){
	#aboutus-vision .service-parts-text{
		padding: 25% 200px 150px;
	}
}
#aboutus-success .service-parts-text{
	background: #C41616;
	color: #fff;
	padding: 30px;
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem
}
#aboutus-success figure{
	margin-bottom: 0;
}
@media(min-width:992px){
	#aboutus-success .service-parts-text{
		padding: 50px 80px;
	}
}

@media(max-width:767px){
	#aboutus-success{
		padding-bottom: 0;
	}
	#aboutus-success .container .row{
		margin-left: -15px;
		margin-right: -15px;
	}
}
.branch-contact{
	color: #707070;
	font-size: 0.9rem;
}
.address,.tel{
	padding-left: 25px;
	position: relative;
	margin-bottom: 10px;
}
.address>img,.tel>img{
	position: absolute;
	left: 0px;
}
.map{
	padding-left: 30px;
	position: relative;
}
.map>img{
	position: absolute;
	left: -3px;
	top: -3px
}
.map a{
	text-decoration: underline;
}
.map a:hover{
	color: #C41616;
}

#branch-detail .branch-box{
	margin-bottom: 30px;
}

#calcurate.bg-white h1{
	color: #000;
}
#calcurate.bg-white h1 img{
	filter: brightness(0)
}

#calcurate.bg-white .form-cal{
	border: 3px solid #ddd
}
.form-tkk{
	background-color: #f8f8f8;
}

.form-tkk h1 img{
	filter: brightness(0)
}
.form-tkk-sec{
	box-shadow: 0 3px 6px 3px rgba(0,0,0,0.16);
	border-radius: 30px;
	padding: 80px 30px;
	background: #fff;
	margin-bottom: 30px;
}
.form-tkk-sec h2{
	border-bottom: 2px dashed #707070;
	padding-bottom: 30px
}
@media(max-width: 767px){
	.form-tkk-sec h2{
		text-align: center;
	}
}
@media(min-width:992px){
	.form-tkk-sec .col-lg-6{
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.form-tkk-sec .row{
		margin-left: -2rem;
		margin-right: -2rem;
	}
	.form-tkk-sec .col-lg-5{
		padding-left: 2rem;
		padding-right: 0.5rem;
	}
	.form-tkk-sec .col-lg-7{
		padding-left: 0.5rem;
		padding-right: 2rem;
	}
	.form-tkk-sec .text-or{
		position: absolute;
    	left: -15px;
    	top: 50px;
	}
	.price-table{
		margin-top: 60px;
	}
}
input.custom-file-input:focus,.form-tkk-sec .custom-file-input~.custom-file-label[data-browse]:focus{
	outline: none !important;
    border: none !important;
    box-shadow: none !important;
	visibility: hidden
}
.form-tkk-sec .custom-file-label{
	left: 0;
	border: none;
	padding-left: 190px;
	line-height: 40px
}
.form-tkk-sec .custom-file-input~.custom-file-label[data-browse]::after{
	left: 0;
	width: 170px;
	background: none;
	border: 1px solid #ED1C24;
	border-radius: 30px;
	height: 50px;
	text-align: center;
	line-height: 40px;
	color: #ED1C24;
	background-image: url('../images/icon-attach.svg');
	background-size: 20px 26px;
	background-repeat: no-repeat;
	background-position: 30px 10px
	
}
.form-tkk .form-group label{
	white-space: nowrap;
}
@media(min-width:992px){
	.radio-tkk .col-lg-3{
		padding-left: 2rem
	}
}
.radio-tkk .custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23707070'/%3e%3c/svg%3e");
}
.radio-tkk .custom-control-label::after{
	background: no-repeat 80%/80% 80%;
	left: -1.55rem;
}
.radio-tkk .custom-control-input:checked~.custom-control-label::before{
	background: #fff;
	border-color: #707070
}
.radio-tkk ul{
	list-style: none;
	margin-top: 10px;
}
.radio-tkk ul li{
	margin-bottom: 10px;
	height: 41px;
}
.radio-tkk .custom-file{
	height: calc(3em + .75rem + 2px)
}
.radio-tkk .custom-file.disabled {
	cursor: not-allowed
}
@media(min-width:992px){
	
	.radio-tkk .custom-file{
		width: auto;
		margin-left: 15px;
		top:-11px;
		height: calc(1.5em + .75rem + 2px)
	}
	.radio-tkk .custom-radio{
		display: inline-block;
	}
}

#showdoc2,#showdoc3{
	display: none
}
.radio-tkk .custom-radio #customRadio2.custom-control-input:checked~#showdoc{
	display: block
}
.calendar{
	position: relative;
}
.calendar .datepick{
	z-index: 2;
	position: absolute;
	right: 12px;
	bottom: 8px;
}

/*Gallery*/

#sync1 .item,#sync3 .item {
  background: #0c83e7;
  padding: 0;
  margin: 5px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
#sync1 .item figure,#sync3 .item figure{
	margin-bottom: 0
}
#sync2 .item,#sync4 .item {
  background: #c9c9c9;
  padding: 0px;
  margin: 5px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
#sync2 .item h1,#sync4 .item h1 {
  font-size: 18px;
}
#sync2 .current .item,#sync4 .current .item {
  background: #0c83e7;
}
.gal{
	margin: 50px 0;
}
.gal .owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */
}
.gal .owl-theme .owl-nav [class*=owl-] {
  transition: all 0.3s ease;
}
.gal .owl-theme .owl-nav [class*=owl-].disabled:hover {
  background-color: #d6d6d6;
}

.gal .owl-theme .owl-nav [class*="owl-"]{
	opacity: 0.6;
}
.gal .owl-theme .owl-nav [class*="owl-"]:hover{
	opacity: 1;
	background: none;
}
#sync1.owl-theme,#sync3.owl-theme {
  position: relative;
}
#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev,
#sync3.owl-theme .owl-next,
#sync3.owl-theme .owl-prev{
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}

#sync1.owl-theme .owl-prev,#sync3.owl-theme .owl-prev {
  left: 10px;
}
#sync1.owl-theme .owl-next,#sync3.owl-theme .owl-next {
  right: 10px;
}
@media(min-width:992px){
	#sync1.owl-theme .owl-prev,#sync3.owl-theme .owl-prev {
	  left: -30px;
	}
	#sync1.owl-theme .owl-next,#sync3.owl-theme .owl-next {
	  right: -30px;
	}
}
@media(max-width:767px){
	.form-tkk h1{
		text-align: center;
		font-size: 1.8rem !important;
		white-space: nowrap;
	}
	.form-tkk h1 img{
		display: inline-block
	}
}
#fullservice-title{
	position: relative;
	top:20px;
	transition: 0.4s all ease-in-out;
	opacity: 0;
}
#fullservice-title.run{
	top: 0;
	opacity: 1
}
#fullservice-detail{
	position: relative;
	top:20px;
	transition: 0.4s all ease-in-out;
	opacity: 0;
}
#fullservice-detail.run{
	top: 0;
	opacity: 1
}
#fullservice-highlight{
	position: relative;
	top:20px;
	transition: 0.4s all ease-in-out;
	opacity: 0;
}
#fullservice-highlight.run{
	top: 0;
	opacity: 1
}

#aboutus-title{
	position: relative;
	top:20px;
	transition: 0.4s all ease-in-out;
	opacity: 0;
}
#aboutus-title.run{
	top: 0;
	opacity: 1
}
#aboutus-vision{
	position: relative;
	top:20px;
	transition: 0.4s all ease-in-out;
	opacity: 0;
}
#aboutus-vision.run{
	top: 0;
	opacity: 1
}
#aboutus-txt{
	position: relative;
	top:20px;
	transition: 0.4s all ease-in-out;
	opacity: 0;
}
#aboutus-txt.run{
	top: 0;
	opacity: 1
}
#aboutus-success{
	position: relative;
	top:20px;
	transition: 0.4s all ease-in-out;
	opacity: 0;
}
#aboutus-success.run{
	top: 0;
	opacity: 1
}
.form-tkk.space-control{
	padding-top: 40px;
}
.form-tkk.space-control h1{
	margin-bottom: 40px;
}
@media(min-width: 992px){
	.form-tkk.space-control{
		padding-top: 80px;
	}
	.form-tkk.space-control h1{
		margin-bottom: 80px;
	}
}
.form-control:disabled, .form-control[readonly]{
	background: #EDEDED;
	color: #707070
}
#formula-detail{
	background-image: url('../images/mobile/bg-detail4.png');
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 100px;
}
#formula-detail h1{
	margin-bottom: 50px;
}
#formula-detail .car2-price-box{
	border-top: none;
	padding-top: 0;
	margin-top: 0;
}
@media(min-width: 992px){
	#formula-detail{
		background-image: url('../images/bg-detail4.png');
		padding-top: 100px;
		padding-bottom: 100px;
	}
	#formula-detail h1{
		margin-bottom: 100px;
	}
	#formula-detail .car2-price-box{
		border-bottom: 1px solid #ccc
	}
}
#formula-part{
	background: #1A1A1A;
}
#formula-part .container{
	position: relative;
    top: -40px;
}

.formula-part-txt{
	text-align: center;
	color: #fff;
}
.formula-btn{
	text-align: center;
}

@media(min-width: 992px){
	#formula-part .container{
		position: relative;
		top: -75px;
	}
	.formula-btn{
		text-align: left;
		margin-top: 60px;
	}
}
@media(max-width: 767px){
	#formula-part{
		padding: 10px;
	}
	#formula-part .col-6{
		padding-left: 0px;
		padding-right: 0px;
	}
	.formula-part-box{
		margin-bottom: 1rem
	}
}
.card{
	border-left: none;
	border-right: none;
	border-radius: 0;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
.accordion > .card:last-of-type{
	border-bottom: 1px solid #ccc;
}
.card-header{
	background: none;
	border-bottom: none;
	border-radius: 0 !important;
}
.card-body{
	color: #707070;
	line-height: 2
}
.card .btn{
	padding-left: 0;
	padding-right: 0;
	font-size: 1.2rem;
	color: #000;
	font-weight: 700;
}
.formula-price{
	font-weight: 700;
}
.formula-price strong{
	font-size: 1.6rem;
}
.formula-item{
	padding-left: 20px;
}
.formula-item:before{
	content: "●";
	left: -20px;
	position: relative;
}
@media(min-width:992px){
	.card-header{
		padding-left: 5rem;
		padding-right: 5rem;
	}
	.card-body{
		padding-left: 5rem;
		padding-right: 5rem;
		padding-bottom: 4rem;
		padding-top: 1rem;
	}
}
@media(max-width:767px){
	.card-header h5{
		font-size: 1rem
	}
	#formula-collapse .accordion{
		margin-left: -15px;
		margin-right: -15px;
	}
	.formula-price strong{
		font-size: 1rem
	}
}
.card .btn img{
	-ms-transform: rotate(0deg); /* IE 9 */
  	transform: rotate(0deg);
	transition: 0.2s all ease-in-out
}
.card .btn.collapsed img{
	-ms-transform: rotate(180deg); /* IE 9 */
  	transform: rotate(180deg);
}
.bline{
	position: relative;
	display: inline-block;
}
.bline:after{
	position: absolute;
	content: "";
	width: 100%;
	height: 3px;
	left: 0;
	right: 0;
	bottom: -3px;
	background: #ED1C24
}
@media (min-width:992px){
	.bline:after{
		height: 6px;
		bottom: 0;
	}
}
#cookies h5{
	margin-bottom: 20px;
	font-size: 1rem
}
#cookies p{
	margin-bottom: 20px;
}
@media (min-width:992px){
	#cookies.space-control h1 {
		margin-bottom: 60px;
	}
	#cookies h5{
		margin-bottom: 30px;
		font-size: 1.25rem
	}
	#cookies p{
		margin-bottom: 20px;
	}
}
.cookies-fix{
	position: fixed;
	bottom: 2%;
	left: 2%;
	right: 2%;
	z-index: 9;
	padding: 20px 20px 10px;
	width: auto;
	font-size: 0.95rem;
	text-align: center;
	background: rgba(255,255,255,0.85)
}
.cookies-fix h4{
	font-size: 1rem;
}
.cookies-fix p{
	font-size: 0.8rem;
}
.cookies-fix a{
	color: #ED1C24
}
.cookies-fix a:hover{
	text-decoration: underline
}
.cookies-fix .btn-main,.cookies-fix .btn-secondary{
	padding: 12px 30px
}
@media(min-width: 992px){
	.cookies-fix{
		right: auto;
		width: 350px;
		padding: 50px 40px 30px;
	}
	.cookies-fix h4{
		font-size: 1.2rem;
	}
	.cookies-fix p{
		font-size: 0.9rem;
	}
}

.car-box2{
	border-radius: 15px;
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;
}
.car-box2 > a img{
	opacity: 0;
	transition: 0.2s all ease-in-out;
}
.car-box2:hover > a img{
	opacity: 1;
}
.car-box2-over{
	position: absolute;
	border-radius: 15px;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: #fff;
	text-align: center;
	border: 2px solid #DDDDDD;
	padding: 25px 10px;
	transition: 0.2s all ease-in-out;
}
@media(min-width:768px){
	.car-box2-over{
		padding: 15px 10px;
	}
}
.car-box2-over figure{
	height: 90px;
	margin-top: 15px;
	margin-bottom: 25px;
}
.car-box2-over h4{
	margin-bottom: 5px;
}
.car-box2-over strong{
	margin-top: 0px;
	color: #666666;
	font-weight: 400; 
}
.car-box2:hover .car-box2-over{
	opacity: 0;
	z-index: -1
}

#humanmobility{
	position: relative;
    top: 20px;
    transition: all 0.4s ease-in-out 0s;
    opacity: 0;
}
#humanmobility.run{
	top: 0;
    opacity: 1;
}
#humanmobility .container{
	border-top: 1px solid #CCCCCC;
	padding-top: 50px;
	padding-bottom: 30px
}
@media(min-width:768px){
	#humanmobility .container{
		padding-top: 100px;
		padding-bottom: 100px
	}
}
.formula-part-box{
	padding: 0 10px 0
}
.formula-part-box figure{
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16)
}

.form-tkk-sec label.custom-file-label::after{
	left: 0;
	content: "แนบไฟล์";
	width: 170px;
	background: none;
	border: 1px solid #ED1C24;
	border-radius: 30px;
	height: 50px;
	text-align: center;
	line-height: 40px;
	color: #ED1C24;
	background-image: url('<?php echo get_template_directory_uri();?>/assets/images/icon-attach.svg');
	background-size: 20px 26px;
	background-repeat: no-repeat;
	background-position: 30px 10px
}
.hidden{
	display :none;
}

.form-tkk-sec label.custom-file-label {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
}

.wpcf7-not-valid-tip {
    font-size: 12px !important;
    padding: 5px !important;
 }