<div class="subscription">
				<div class="container">
					<div class="row align-items-end">
						<div class="col-lg-6 order-lg-12">
							<ul class="social">
								<li>
									<a href="#" class="tel-icon"><img src="assets/images/icon-tel.svg" alt="" class="img-fluid" width="32" height="33"> 043-008-888</a>
								</li>
								<li>
									<a href="#" class="social-icon"><img src="assets/images/icon-fb.svg" alt="" class="img-fluid" width="51" height="51"></a>
								</li>
								<li>
									<a href="#" class="social-icon"><img src="assets/images/icon-line.svg" alt="" class="img-fluid" width="51" height="51"></a>
								</li>
								<li>
									<a href="#" class="social-icon"><img src="assets/images/icon-youtube.svg" alt="" class="img-fluid" width="51" height="51"></a>
								</li>
								<li>
									<a href="#" class="social-icon"><img src="assets/images/icon-ig.svg" alt="" class="img-fluid" width="51" height="51"></a>
								</li>
								<li>
									<a href="#" class="social-icon"><img src="assets/images/icon-tiktok.svg" alt="" class="img-fluid" width="51" height="51"></a>
								</li>
							</ul>
						</div>
						<div class="col-lg-6 order-lg-1">
							<h5>ลงทะเบียนรับข่าวสาร</h5>
							<form action="">
								<div class="sub-form mb-3" style="max-width: 357px">
									<input type="text" class="form-control form-control-lg" placeholder="กรอกอีเมล" aria-label="กรอกอีเมล" aria-describedby="button-addon2">
									<button class="btn btn-lg" type="button" id="button-addon2">ลงทะเบียน</button>
								</div>
							</form>
						</div>
						
					</div>
				</div>
			</div>
			<div class="footer-menu">
				<div class="container">
					<div class="row">
						<div class="col-lg-5">
							<div class="contactinfo">
								<h3>บริษัท โตโยต้าขอนแก่น</h3>
								<h5>ผู้จำหน่ายโตโยต้า จำกัด</h5>
								<p>548 หมู่ 12 ถนนมิตรภาพ ตำบลเมืองเก่า<br>อำเภอเมือง จังหวัดขอนแก่น รหัสไปรษณีย์ 40000</p>
								<p class="mt-3">
									Call Center : <a href="tel:+66-4300-8888">0-4300-8888</a><br>
									แฟกซ์ : <a href="tel:+66-4334-6802">0-4334-6802</a><br>
									Email : <a href="mailto:info@toyotakhonkaen.com">info@toyotakhonkaen.com</a><br>
									Website : <a href="https://www.toyotakhonkaen.com">https://www.toyotakhonkaen.com</a>
								</p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="row">
								<div class="col-6 col-lg-4">
									<ul>
										<li>
											<h5><a href="carlist.html">รถยนต์ใหม่</a></h5>
											<ul>
												<li><a href="carlist.html#car1">รถเก๋ง</a></li>
												<li><a href="carlist.html#car2">รถกระบะ</a></li>
												<li><a href="carlist.html#car3">รถเอนกประสงค์</a></li>
												<li><a href="carlist.html#car4">รถยนต์เพื่อการพาณิชย์</a></li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="col-6 col-lg-4">
									<ul>
										<li>
											<h5><a href="carlist3.html">รถแต่ง</a></h5>
											<ul>
												<li><a href="carlist3.html#car1">ชุดแต่งหล่อ</a></li>
												<li><a href="carlist3.html#car2">ชุดแต่ง Performance</a></li>
												<li>&nbsp;</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="col-6 col-lg-4">
									<ul>
										<li>
											<h5><a href="carlist2.html">รถทำเงิน</a></h5>
											<ul>
												<li><a href="carlist2.html#car1">รถตู้ - รถต่อคอก</a></li>
												<li><a href="detail3.html">เสริมแหนบ - เสริมเพลา</a></li>
												<li><a href="full-services.html">Full Service Lease</a></li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="col-6 col-lg-4">
									<ul>
										<li>
											<h5><a href="promotion.html">โปรโมชั่น</a></h5>
											<ul>
												<li><a href="promotion.html#bestprice">รถราคาพิเศษ</a></li>
												<li><a href="promotion.html#buffet">บุฟเฟ่ต์กระทะล้อ</a></li>
												<li><a href="promotion.html#service">บริการหลังการจำหน่าย</a></li>
												<li><a href="promotion.html#repair">ซ่อมตัวถังละสี</a></li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="col-6 col-lg-4">
									<ul>
										<li>
											<h5><a href="after-service.html">บริการหลังการจำหน่าย</a></h5>
											<ul>
												<li><a href="form-checkmile.html">นัดหมายเข้าซ่อม</a></li>
												<li><a href="#">ประเมินค่าซ่อม</a></li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="col-6 col-lg-4">
									<ul>
										<li>
											<h5><a href="repairs.html">ซ่อมตัวถังและสี</a></h5>
											<ul>
												<li><a href="form-repairscolor.html">นัดหมายเข้าซ่อม</a></li>
												<li><a href="#">ประเมินค่าซ่อม</a></li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="col-6 col-lg-4">
									<ul>
										<li>
											<h5><a href="aboutus.html">รู้จัก TKK Group</a></h5>
										</li>
									</ul>
								</div>
								<div class="col-6 col-lg-4">
									<ul>
										<li>
											<h5><a href="insurance.html">ประกันภัย</a></h5>
										</li>
									</ul>
								</div>
								<div class="col-6 col-lg-4">
									<ul>
										<li>
											<h5><a href="#">โตโยต้่าชัวร์</a></h5>
										</li>
									</ul>
								</div>
								<div class="col-6 col-lg-4">
									<ul>
										<li>
											<h5><a href="#">ไฟแนนซ์</a></h5>
										</li>
									</ul>
								</div>
								<div class="col-6 col-lg-8">
									<ul>
										<li>
											<h5><a href="#">ซื้อรถออนไลน์</a></h5>
										</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-6 col-lg-4">
									<ul>
										<li>
											<a href="#">นโยบายความเป็นส่วนตัว</a>
										</li>
									</ul>
								</div>
								<div class="col-6 col-lg-8">
									<ul>
										<li>
											<a href="#">นโยบายเกี่ยวกับการใช้งานด้าน cookies</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				©2021 Toyota Khon Kaen. All right reserved. 
			</div>
