<div class="desktop-header d-none d-lg-block">
				<div class="header-logo">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-4">
								<div class="logo">
									<a href="index.html"><img src="assets/images/logo.png" alt="" class="img-fluid" width="221" height="56"></a>
								</div>
							</div>
							<div class="col-lg-8">
								<div class="social-service">
									<a href="#"><img src="assets/images/btn-fb.png" alt="" class="img-fluid" width="44" height="44"></a>
									<a href="#lineAdd" data-toggle="modal" class="addline-btn"><img src="assets/images/icon-addline.svg" alt="" class="img-fluid" width="24" height="23"> Add Line สมัครสมาชิก</a>
									<a href="#booking" data-toggle="modal" class="booking-btn"><img src="assets/images/service_text4.svg" alt="" class="img-fluid" width="18" height="26"> นัดหมายเข้ารับบริการ</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="bg-menu">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="main-menu">
									<ul>
										<li class="drop">
											<a href="carlist.html">รถยนต์ใหม่</a>
											<ul>
												<li>
													<a href="carlist.html#car1">รถเก๋ง</a>
												</li>
												<li>
													<a href="carlist.html#car2">รถกระบะ</a>
												</li>
												<li>
													<a href="carlist.html#car3">รถเอนกประสงค์</a>
												</li>
												<li>
													<a href="carlist.html#car4">รถยนต์เพื่อการพาณิชย์</a>
												</li>
											</ul>
										</li>
										<li class="drop">
											<a href="carlist3.html">รถแต่ง</a>
											<ul>
												<li>
													<a href="carlist3.html#car1">ชุดแต่งหล่อ</a>
												</li>
												<li>
													<a href="carlist3.html#car2">ชุดแต่ง Performance</a>
												</li>
											</ul>
										</li>
										<li class="drop">
											<a href="carlist2.html">รถทำเงิน</a>
											<ul>
												<li>
													<a href="carlist2.html#car1">รถตู้ - รถต่อคอก</a>
												</li>
												<li>
													<a href="detail3.html">เสริมแหนบ - เสริมเพลา</a>
												</li>
												<li>
													<a href="full-services.html">Full Service Lease</a>
												</li>
											</ul>
										</li>
										<li class="drop">
											<a href="promotion.html">โปรโมชั่น</a>
											<ul>
												<li>
													<a href="promotion.html#bestprice">รถราคาพิเศษ</a>
												</li>
												<li>
													<a href="promotion.html#buffet">บุฟเฟ่ต์กระทะล้อ</a>
												</li>
												<li>
													<a href="promotion.html#service">บริการหลังการจำหน่าย</a>
												</li>
												<li>
													<a href="promotion.html#repair">ซ่อมตัวถังละสี</a>
												</li>
											</ul>
										</li>
										<li class="drop">
											<a href="after-services.html">บริการหลังการจำหน่าย</a>
											<ul>
												<li>
													<a href="form-checkmile.html">นัดหมายเข้าซ่อม</a>
												</li>
												<li>
													<a href="#">ประเมินค่าซ่อม</a>
												</li>
											</ul>
										</li>
										<li class="drop">
											<a href="repairs.html">ซ่อมตัวถังและสี</a>
											<ul>
												<li>
													<a href="form-repairscolor.html">นัดหมายเข้าซ่อม</a>
												</li>
												<li>
													<a href="#">ประเมินค่าซ่อม</a>
												</li>
											</ul>
										</li>
										<li><a href="aboutus.html">รู้จัก TKK Group</a></li>
										<li><a href="insurance.html">ประกันภัย</a></li>
										<li><a href="#">โตโยต้าชัวร์</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mobile-header d-block d-lg-none">
				<div class="header-logo">
					<div class="container">
						<div class="row">
							<div class="col-6">
								<div class="logo">
									<a href="index.html"><img src="assets/images/logo.png" alt="" class="img-fluid" width="221" height="56"></a>
								</div>
							</div>
							<div class="col-6">
								<div class="mobile-btn">
									<div id="nav-icon4" class="nav-mobile d-lg-none">
									  <span></span>
									  <span></span>
									  <span></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mobile-menu">
					<div class="mobile-menu-inner">
						<ul>
							<li class="drop">
								<a href="carlist.html">รถยนต์ใหม่</a>
								<ul>
									<li>
										<a href="carlist.html#car1">รถเก๋ง</a>
									</li>
									<li>
										<a href="carlist.html#car2">รถกระบะ</a>
									</li>
									<li>
										<a href="carlist.html#car3">รถเอนกประสงค์</a>
									</li>
									<li>
										<a href="carlist.html#car4">รถยนต์เพื่อการพาณิชย์</a>
									</li>
								</ul>
							</li>
							<li class="drop">
								<a href="carlist3.html">รถแต่ง</a>
								<ul>
									<li>
										<a href="carlist3.html#car1">ชุดแต่งหล่อ</a>
									</li>
									<li>
										<a href="carlist3.html#car2">ชุดแต่ง Performance</a>
									</li>
								</ul>
							</li>
							<li class="drop">
								<a href="carlist2.html">รถทำเงิน</a>
								<ul>
									<li>
										<a href="carlist2.html#car1">รถตู้ - รถต่อคอก</a>
									</li>
									<li>
										<a href="detail3.html">เสริมแหนบ - เสริมเพลา</a>
									</li>
									<li>
										<a href="full-services.html">Full Service Lease</a>
									</li>
								</ul>
							</li>
							<li class="drop">
								<a href="promotion.html">โปรโมชั่น</a>
								<ul>
									<li>
										<a href="promotion.html#bestprice">รถราคาพิเศษ</a>
									</li>
									<li>
										<a href="promotion.html#buffet">บุฟเฟ่ต์กระทะล้อ</a>
									</li>
									<li>
										<a href="promotion.html#service">บริการหลังการจำหน่าย</a>
									</li>
									<li>
										<a href="promotion.html#repair">ซ่อมตัวถังละสี</a>
									</li>
								</ul>
							</li>
							<li class="drop">
								<a href="after-services.html">บริการหลังการจำหน่าย</a>
								<ul>
									<li>
										<a href="form-checkmile.html">นัดหมายเข้าซ่อม</a>
									</li>
									<li>
										<a href="#">ประเมินค่าซ่อม</a>
									</li>
								</ul>
							</li>
							<li class="drop">
								<a href="repairs.html">ซ่อมตัวถังและสี</a>
								<ul>
									<li>
										<a href="form-repairscolor.html">นัดหมายเข้าซ่อม</a>
									</li>
									<li>
										<a href="#">ประเมินค่าซ่อม</a>
									</li>
								</ul>
							</li>
							<li><a href="aboutus.html">รู้จัก TKK Group</a></li>
							<li><a href="insurance.html">ประกันภัย</a></li>
							<li><a href="#">โตโยต้าชัวร์</a></li>
						</ul>
						<div class="mobile-social">
							<a href="#lineAdd" data-toggle="modal" class="addline-btn"><img src="assets/images/icon-addline.svg" alt="" class="img-fluid" width="24" height="23"> Add Line สมัครสมาชิก</a>
							<a href="form-checkmile.html" class="booking-btn"><img src="assets/images/service_text4.svg" alt="" class="img-fluid" width="18" height="26"> นัดหมายเข้ารับบริการ</a>
						</div>
					</div>
					
				</div>
			</div>
		<!-- Modal -->
		<div class="modal fade" id="lineAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="btn btn-link close" data-dismiss="modal" aria-label="Close">
					<img src="assets/images/close.svg" alt="" width="46" height="46">
				</button>
			  </div>
			  <div class="modal-body">
				<div class="qr-line">
					<figure>
						<img src="assets/images/qrline.png" alt="" class="img-fluid" width="292" height="292">
					</figure>
					<div class="qr-line-text">
						<h4 class="col-red">สแกน QR Code  เพิ่มเพื่อน line กับ TKK</h4>
						<h5>เพื่อรับข่าวสารและสิทธิประโยชน์มากมาย สแกนเลย !</h5>
						<p>กรุณาสแกนคิวอาร์โค้ด หรือเพิ่มเพื่อน<br>ด้วย ID Line : @TKKGroup</p>
					</div>
					
				</div>
			  </div>
			  <div class="modal-footer">
				
			  </div>
			</div>
		  </div>
		</div>
		<div class="modal fade" id="booking" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="btn btn-link close" data-dismiss="modal" aria-label="Close">
					<img src="assets/images/close.svg" alt="" width="46" height="46">
				</button>
			  </div>
			  <div class="modal-body">
				<div class="text-center">
					<h4 class="col-red"><img src="assets/images/ma.svg" alt="" class="img-fluid" width="43" height="60"> นัดหมายเข้ารับบริการ</h4>
					<h5>เปิดบริการทุกวัน<br>เวลา 08.00 - 17.00 น.</h5>
					<p>ติดต่อได้ที่ โตโยต้าขอนแก่น สาขาทุกสาขา<br>หรือ<br>โทร : <a href="tel:+6643008888" class="col-red">0-4300-8888</a></p>
				</div>
			  </div>
			  <div class="modal-footer">
				
			  </div>
			</div>
		  </div>
		</div>