
							<div class="col-lg-4 col-6">
								<div class="parts-box hover01">
									<a href="#">
										<figure>
											<img src="assets/images/part1b.png" alt="" class="img-fluid" width="296" height="266">
										</figure>
									</a>
									<h5>น้ำมันเครื่อง</h5>
								</div>
							</div>
							<div class="col-lg-4 col-6">
								<div class="parts-box hover01">
									<a href="#">
										<figure>
											<img src="assets/images/part2b.png" alt="" class="img-fluid" width="296" height="266">
										</figure>
									</a>
									<h5>ไส้กรอง</h5>
								</div>
							</div>
							<div class="col-lg-4 col-6">
								<div class="parts-box hover01">
									<a href="#">
										<figure>
											<img src="assets/images/part3b.png" alt="" class="img-fluid" width="296" height="266">
										</figure>
									</a>
									<h5>แบตเตอร์รี่</h5>
								</div>
							</div>
							<div class="col-lg-4 col-6">
								<div class="parts-box hover01">
									<a href="#">
										<figure>
											<img src="assets/images/part4b.png" alt="" class="img-fluid" width="296" height="266">
										</figure>
									</a>
									<h5>เบรก ช่วงล่าง</h5>
								</div>
							</div>
							<div class="col-lg-4 col-6">
								<div class="parts-box hover01">
									<a href="#">
										<figure>
											<img src="assets/images/part5b.png" alt="" class="img-fluid" width="296" height="266">
										</figure>
									</a>
									<h5>ยางรถยนต์</h5>
								</div>
							</div>
							<div class="col-lg-4 col-6">
								<div class="parts-box hover01">
									<a href="#">
										<figure>
											<img src="assets/images/part6b.png" alt="" class="img-fluid" width="296" height="266">
										</figure>
									</a>
									<h5>น้ำมันเบรค</h5>
								</div>
							</div>
							<div class="col-lg-4 col-6">
								<div class="parts-box hover01">
									<a href="#">
										<figure>
											<img src="assets/images/part7b.png" alt="" class="img-fluid" width="296" height="266">
										</figure>
									</a>
									<h5>น้ำมันพาวเวอร์</h5>
								</div>
							</div>
							<div class="col-lg-4 col-6">
								<div class="parts-box hover01">
									<a href="#">
										<figure>
											<img src="assets/images/part8b.png" alt="" class="img-fluid" width="296" height="266">
										</figure>
									</a>
									<h5>น้ำมันหล่อเย็น</h5>
								</div>
							</div>
							<div class="col-lg-4 col-6">
								<div class="parts-box hover01">
									<a href="#">
										<figure>
											<img src="assets/images/part9b.png" alt="" class="img-fluid" width="296" height="266">
										</figure>
									</a>
									<h5>น้ำมันเกียร์</h5>
								</div>
							</div>